# Lesson 3: Functions and Loops

## Review Question 1

In [4]:
def cube(num):
    return num ** 3

print(cube(2))
print(cube(3))
print(cube(6))

8
27
216

In [6]:
def greet(name):
    print(f"Hello {name}!")

greet("Karylle")

Hello Karylle!

## CHALLENGE: CONVERT TEMPERATURES

In [7]:
def convert_cel_to_far(degreesCelc):
    return degreesCelc * (9.0/5.0) + 32

cel = float(input("Enter a temperature in degrees C:"))
converted_fahr = convert_cel_to_far(cel)
print(f"{cel:.0f} degrees C = {converted_fahr:.2f} degrees F")

Enter a temperature in degrees C: 34

34 degrees C = 93.20 degrees F

In [8]:
def convert_far_to_cel(degreesFahr):
    return (degreesFahr - 32) * (5.0 / 9.0)

fahr = int(input("Enter a temperature in degrees F:"))
converted_cel = convert_far_to_cel(fahr)
print(f"{fahr:.0f} degrees F = {converted_cel:.2f} degrees C")

Enter a temperature in degrees F: 23

23 degrees F = -5.00 degrees C

## Review Question 2

In [41]:
for i in range(2, 11):
    print(i)

2
3
4
5
6
7
8
9
10

In [40]:
i = 2
while i <= 10:
    print(i)
    i += 1

2
3
4
5
6
7
8
9
10

In [42]:
def doubles(num):
    return num * 2

two = 2
for i in range(3):
    two = doubles(two)
    print(two)

4
8
16