# Lesson 5 - Tuples, Lists & Dictionaries

## Review Exercise 1

In [11]:
cardinal_numbers = ("First", "Second", "Third")

In [12]:
print(cardinal_numbers[1])

Second

In [13]:
position1, position2, position3 = cardinal_numbers
print(position1)
print(position2)
print(position3)

First
Second
Third

In [1]:
my_name = tuple("Karylle")

In [2]:
print(f"X is in my_name:", "X" in my_name)

X is in my_name: False

In [3]:
new_tuple = my_name[1:len(my_name)]
print(new_tuple)

('a', 'r', 'y', 'l', 'l', 'e')

## Review Exercise 2

In [17]:
food = ["rice", "beans"]
print(food)

In [18]:
food = ["rice", "beans"]
food.append("broccoli")
print(food)

In [7]:
food = ["rice", "beans", "broccoli"]
food.extend(["bread", "pizza"])
print(food)

['rice', 'beans', 'broccoli', 'bread', 'pizza']

In [8]:
food = ["rice", "beans", "broccoli"]
print(food[:2])

['rice', 'beans']

In [9]:
food = ["rice", "beans", "broccoli"]
print(food[-1])

broccoli

In [12]:
breakfast = "eggs, fruit, orange juice".split(", ")

In [16]:
breakfast = "eggs, fruit, orange juice".split(", ")
count = len(breakfast)
print("Number of items fo breakfast:", count)

Number of items fo breakfast: 3

In [20]:
length = [len(item) for item in Breakfast]
print(length)

[4, 5, 12]

## Review Exercise 3

In [50]:
tuple_data = ((1,2), (3,4))

In [21]:
data = ((1,2), (3,4))
for i, nested_tuple in enumerate(data, start = 1):
    row_sum = sum(nested_tuple)
    print(f"row {i} sum: {row_sum}")

row 1 sum: 3
row 2 sum: 7

In [23]:
numbers_list = [9,3,1,8,5,12]
numbers_copy = numbers_list[:]
print(numbers_copy)

[9, 3, 1, 8, 5, 12]

In [24]:
numbers_list.sort()
print(numbers_list)

[1, 3, 5, 8, 9, 12]

## Challenge: List of Lists

In [25]:
universities = [
     ['California Institute of Technology', 2175, 37704],
    ['Harvard', 19627, 39849],
    ['Massachusetts Institute of Technology', 10566, 40732],
    ['Princeton', 7802, 37000],
    ['Rice', 5879, 35551],
    ['Stanford', 19535, 40569],
    ['Yale', 11701, 40500]
]
for uni in universities:
    print(uni)

['California Institute of Technology', 2175, 37704]
['Harvard', 19627, 39849]
['Massachusetts Institute of Technology', 10566, 40732]
['Princeton', 7802, 37000]
['Rice', 5879, 35551]
['Stanford', 19535, 40569]
['Yale', 11701, 40500]

## Challenge: Wax Poetic

In [54]:
nouns = ["FOSSIL", "HORSE", "AARDVARK", "JUDGE", "CHEF", "MANGO","EXTROVERT", "GORILLA"]
verbs = ["KICKS", "JINGLES", "BOUNCES", "SLURPS", "MEOWS", "EXPLODES", "CURDLES"]
adjectives = ["FURRY", "BALDING", "INCREDULOUS", "FRAGRANT", "EXUBERANT", "GLISTENING"]
prepositions = ["AGAINST", "AFTER", "INTO", "BENEATH", "UPON", "FOR", "IN" "LIKE", "OVER", "WITHIN"]
adverbs = ["CURIOUSLY", "FURIOUSLY", "SENSUOUSLY",  "EXTRAVAGANTLY", "TANTALIZINGLY"]
print(nouns)
print(verbs)
print(adjectives)
print(prepositions)
print(adverbs)

['FOSSIL', 'HORSE', 'AARDVARK', 'JUDGE', 'CHEF', 'MANGO', 'EXTROVERT', 'GORILLA']
['KICKS', 'JINGLES', 'BOUNCES', 'SLURPS', 'MEOWS', 'EXPLODES', 'CURDLES']
['FURRY', 'BALDING', 'INCREDULOUS', 'FRAGRANT', 'EXUBERANT', 'GLISTENING']
['AGAINST', 'AFTER', 'INTO', 'BENEATH', 'UPON', 'FOR', 'INLIKE', 'OVER', 'WITHIN']
['CURIOUSLY', 'FURIOUSLY', 'SENSUOUSLY', 'EXTRAVAGANTLY', 'TANTALIZINGLY']

## Review Exercise 4

In [35]:
captains = {}

In [36]:
captains["Enterprise"] = "Picard"
captains["Voyager"] = "Janeway"
captains["Defiant"] = "Sisko"

In [45]:
if "Enterprise" not in captains:
    captains["Enterprise"] = "Unknown"

if "Discovery" not in captains:
    captains["Discovery"] = "Unknown"

In [41]:
for item in captains:
    print(f"The {item} is captained by {captains[item]}")

The Enterprise is captained by Picard
The Voyager is captained by Janeway
The Defiant is captained by Sisko
The Discovery is captained by Unknown

In [46]:
del captains["Discovery"]

In [47]:
captains_dict_keyword = dict(Enterprise = "Picard", Voyager = "Janeway", Defiant = "Sisko")

## Challenge: Capital City Loop

In [26]:
capitals_dict = {
    'Alabama': 'Montgomery',
    'Alaska': 'Juneau',
    'Arizona': 'Phoenix',
    'Arkansas': 'Little Rock',
    'California': 'Sacramento',
    'Colorado': 'Denver',
    'Connecticut': 'Hartford',
    'Delaware': 'Dover',
    'Florida': 'Tallahassee',
    'Georgia': 'Atlanta',
}
for state, capital in capitals_dict.items():
    print(f"The capital of {state} is {capital}.")

The capital of Alabama is Montgomery.
The capital of Alaska is Juneau.
The capital of Arizona is Phoenix.
The capital of Arkansas is Little Rock.
The capital of California is Sacramento.
The capital of Colorado is Denver.
The capital of Connecticut is Hartford.
The capital of Delaware is Dover.
The capital of Florida is Tallahassee.
The capital of Georgia is Atlanta.